@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Black.otf);
    font-weight: bolder;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Bold.otf);
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Light.otf);
    font-weight: normal;
  }