.location {
    margin-bottom: 98px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1023px) {
    .location {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 767px) {
    .location {
        margin-bottom: 66px;
    }
}