.header__lang {
    margin-right: 18px;
    text-decoration: none;
    color: white;
    transition: opacity .1s linear;
}
.header__lang:last-child {
    margin-right: 0;
}

.header__lang:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__lang {
        margin-bottom: 10px;
    }
}