.header__title {
  font-size: 6rem;
  line-height: 1.04;
  font-weight: 900;
  color: #ffffff;
  max-width: 720px;
  min-height: 200px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 48px;
}

@media screen and (max-width: 767px) {
  .header__title {
    min-height: 88px;
    max-width: 288px;
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}