.header__top-block {
    width: 92.5%;
    margin: 28px auto 0;
    outline: white, solid;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header__top-block {
        width: 90.9%;
    }
}

@media screen and (max-width: 1023px) {
    .header__top-block {
        margin: 28px auto 0;
        width: 93.7%;
    }
}

@media screen and (max-width: 767px) {
    .header__top-block {
        width: 90%;
        margin: 16px auto 0;
    }
}