.header__top-block {
    height: 52px;
    width: 1184px;
    margin: 28px 48px 0;
    outline: white, solid;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header__top-block {
        width: 91vw;
        width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .header__top-block {
        margin: 28px 24px 0;
        width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .header__top-block {
        width: 288px;
        height: 42px;
        margin: 16px 16px 0;
    }
}